@model IEnumerable<QL_Phonghoc.Models.tbPhongHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienTich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienTich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
