@model QL_Phonghoc.Models.tbTBHong

@{
    ViewBag.Title = "Báo hỏng";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Báo hỏng thiết bị</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Phòng học", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDPhongHoc", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thiết bị báo hỏng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control valid" id="IDTB" name="IDTB"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MoTaBaoHong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTaBaoHong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongBao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTaBaoHong, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.Label("Ngày báo hỏng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayBao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayBao, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DanhSachBaoHong")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
  $(document).ready(function () {
      function load() {
          var idPhongHoc = $('#IDPhongHoc').val();
          $.ajax({
              url: "/tbTBHongs/GetTB",
              datatype: "JSON",
              type: "GET",
              data: { idPhongHoc: idPhongHoc },
              success: function (data) {
                  $("#IDTB").children().remove();
                  //var opt = " <tr>         <th>  </th> <th style=\" width: 120px; \"> Mã TB </th> <th> Tên TB </th> </tr>";
                  //$("#IDNhom").append(opt);
                  for (var i = 0; i < data.length; i++) {
                      //var opt = new Option(data[i].ID, data[i].ID);
                      var opt =" <option value="+ data[i].ID + ">" + data[i].Ten + "</option> "
                      $("#IDTB").append(opt);
                  }
              }
          });
      }
      load();
      $("#IDPhongHoc").on("change", function () {
          load();
      });
  });
    </script>
}
